<aside class="home-sidebar">
  <div class="profile-card">
    <img src="/img/avatar.png" class="avatar" alt="CHW avatar">

    <h2>CHW</h2>
    <p class="subtitle">
      CTF Web | Red Team </br> Whisky Researcher </br> OSWA | OSCP+ </br>  
    </p>

    <div class="social-links">
      <a href="https://tw.linkedin.com/in/chw41" target="_blank" class="social-item">
        <img src="/img/linkedin.ico" alt="LinkedIn">
        <span>LinkedIn</span>
      </a>

      <a href="https://github.com/Chw41" target="_blank" class="social-item">
        <img src="/img/github.ico" alt="GitHub">
        <span>GitHub</span>
      </a>

      <a href="https://hackmd.io/@CHW" target="_blank" class="social-item">
        <img src="/img/hackmd.ico" alt="HackMD">
        <span>HackMD</span>
      </a>
    </div>
  </div>
</aside>
